.image_div {
  width: 200px;
  cursor: pointer;
}
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}
.link_div {
  width: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.link_div a {
  font-size: 20px;
  font-weight: 600;
  transition: 0.2s all ease;
}
.link_div a:hover {
  color: white;
  transform: scale(1.1);
}
