html,
body {
  padding: 0;
  margin: 0;
  font-family: "Overlock", sans-serif;
  background: hsla(33, 100%, 53%, 1);

  background: linear-gradient(
    0deg,
    hsla(33, 100%, 53%, 1) 0%,
    hsla(58, 100%, 68%, 1) 100%
  );
  background-repeat: no-repeat;
  color: #222;
  z-index: 1;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
h1 h2 h3 {
  padding: 0;

  margin: 0;
}
